<div id="klaviyo-bis-modal-quick-view" class="klaviyo-bis-modal-quick-view hide">
	<div class="" id="container">
		<button type="button" class="close klaviyo-bis-close" data-dismiss="modal">×</button>
		<h3 id="klaviyo_modal_title" class="modal-title">BRAVN Santa Ana T-Shirt - Anthrazit Schwarz</h3>
		<p>Choose the sold out size below and fill in your details. We will notify you when the item is available again.</p>
		<form action="#" class="form-horizontal clearfix">
			<div class="form-group">
				<div id="klaviyo_variant_select" class="col-sm-12">
					<input type="hidden" id="product" value="8000647102730">
					<select id="klaviyo_variants" class="selectpicker form-control input-lg">
						<option value="43728301621514">Herren / Schwarz / XL</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-12">
					<input type="email" id="klaviyo_email" placeholder="Email address" class="form-control input-lg" value="">
				</div>
			</div>
			<div class="control-group clearfix submit-container">
				<button id="btn_email_subcriber" type="button" class="btn btn-success btn-lg col-xs-12">Notify me</button>
			</div>
			<div id="error_message" class="error_message alert alert-danger"></div>
			<div id="completed_message" class="completed_message alert alert-success hide">
				You are in! We'll let you know when the item is back in stock. <a href="#" class="klaviyo-bis-close">Close</a>
			</div>
		</form>
		<p class="small-print">By providing your email address, you agree to BRAVN's privacy policy.</p>
	</div>
</div>