<variant-swatch-king style="max-width: 100%;">
	<div class="swatches swatches-type-collections hover-enabled" style="width: 191px; z-index: 1;">
		<div option-name="Verfügbare Farben" option-target="group838339" type-group="true">
			<div class="swatch-single swatch-preset-44191 swatch-view-stack" data-group-index="0">
				<fieldset>
					<ul class="swatch-view swatch-view-image swatch-align-left" role="radiogroup">
						<li class="swatch-view-item" orig-value="Blue" aria-label="Blue" role="radio" tabindex="0">
							<div class="swatch-image swatch-group-selector" type="image" data-value="Blue" orig-value="Blue" swatch-url="https://bravn.com/en/products/santa-ana-t-shirt-v-neck-blau-herren" swatch-option="group838339">
								<div style="width:36px;height:36px;background-image:url(https://cdn.shopify.com/s/files/1/0628/1127/5518/products/Bravn-Santa-Ana-48389-heather-blue-v-neck-t-shirt-regular-sleeve-half-front-1800x1800_b43353e8-b05a-419f-a255-647bd6b7f2fb.jpg?v=1663312882&amp;width=72&amp;height=72&amp;crop=center&amp;format=pjpg);" class="star-set-image" swatch-inside="true"><i class="hidden"></i>
								</div>
								<div class="swatch-img-text swatch-img-text-hidden" swatch-inside="true"><p swatch-inside="true">Blue</p></div></div>
							</li>
							<li class="swatch-view-item" orig-value="Black" aria-label="Black" role="radio" tabindex="0">
								<div class="swatch-image swatch-group-selector" type="image" data-value="Black" orig-value="Black" swatch-url="https://bravn.com/en/products/santa-ana-t-shirt-v-neck-schwarz-herren" swatch-option="group838339">
									<div style="width:36px;height:36px;background-image:url(https://cdn.shopify.com/s/files/1/0628/1127/5518/products/Bravn-Santa-Ana-48389-heather-black-v-neck-t-shirt-regular-sleeve-half-front-1800px_bb1c486e-93b9-4854-ba72-d8f337418fb6.jpg?v=1663313035&amp;width=72&amp;height=72&amp;crop=center&amp;format=pjpg);" class="star-set-image" swatch-inside="true"><i class="hidden"></i>
									</div>
									<div class="swatch-img-text swatch-img-text-hidden" swatch-inside="true">
										<p swatch-inside="true">Black</p>
									</div>
								</div>
							</li><li class="swatch-view-item" orig-value="Grau" aria-label="Grau" role="radio" tabindex="0">
								<div class="swatch-image swatch-group-selector" type="image" data-value="Grau" orig-value="Grau" swatch-url="https://bravn.com/en/products/santa-ana-t-shirt-v-neck-grau-herren" swatch-option="group838339">
									<div style="width:36px;height:36px;background-image:url(https://cdn.shopify.com/s/files/1/0628/1127/5518/products/Bravn-Santa-Ana-48389-heather-grey-v-neck-t-shirt-regular-sleeve-half-front-1800x1800_952f391c-ed2b-4918-97de-64c61bc9b13e.jpg?v=1663313123&amp;width=72&amp;height=72&amp;crop=center&amp;format=pjpg);" class="star-set-image" swatch-inside="true">
										<i class="hidden"></i>
									</div>
									<div class="swatch-img-text swatch-img-text-hidden" swatch-inside="true"><p swatch-inside="true">Grey</p></div>
								</div>
							</li>
							<li class="swatch-view-item" orig-value="Green" aria-label="Green" role="radio" aria-checked="true" tabindex="0">
								<div class="swatch-image swatch-group-selector swatch-selected" type="image" data-value="Green" orig-value="Green" swatch-url="https://bravn.com/en/products/santa-ana-t-shirt-v-neck-grun-herren" swatch-option="group838339" current-product="true">
									<div style="width:36px;height:36px;background-image:url(https://cdn.shopify.com/s/files/1/0628/1127/5518/products/Bravn-Santa-Ana-48389-heather-green-v-neck-t-shirt-regular-sleeve-half-front-1800x1800_e8483548-f7cd-4d87-9661-b90a70b01980.jpg?v=1663313208&amp;width=72&amp;height=72&amp;crop=center&amp;format=pjpg);" class="star-set-image" swatch-inside="true"><i class="hidden"></i>
									</div>
									<div class="swatch-img-text swatch-img-text-hidden" swatch-inside="true">
										<p swatch-inside="true">Green</p>
									</div>
								</div>
							</li>
						</ul>
					</fieldset>
				</div>
			</div>
		<div option-name="Geschlecht" option-target="option1" class="">
            
        <div class="swatch-single swatch-view-stack">
			<input type="hidden" class="swatch-selector swatch-allow-animation" value="Men" swatch-option="option1" orig-value="Men">
        </div>
		</div>
		<div option-name="Farbe" option-target="option2" class="">
            <div class="swatch-single swatch-view-stack">
                <input type="hidden" class="swatch-selector swatch-allow-animation" value="Green" swatch-option="option2" orig-value="Green">
            </div>
		</div>
		<div option-name="Größe" option-target="option3" class="">
        	<div class="swatch-single swatch-view-stack">
            	<input type="hidden" class="swatch-selector swatch-allow-animation" value="S" swatch-option="option3" orig-value="S">
            </div>
		</div>
	</div>
</variant-swatch-king>