.btn-lg {
    font-size: 13px !important;
    text-transform: uppercase !important;
    letter-spacing: 0.25em !important;
    font-weight: 600 !important;
    border-radius: 3px !important;
}

.modal-title {
    font-weight: 600 !important;
}

.close {
    color: #000 !important;
    font-weight: inherit !important;
}

#klaviyo-bis-modal{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
}


#container {
    margin-top: 0px !important;
    border-radius: 5px !important;
}